/*.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.app-container {
  background-color: #282c34;åå
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}
*/

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.node-container {

}

.node-name {
  position: relative;
  width: auto;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  display: inline-block;
  font-size: 0.2em;
  margin: 12px 0 0 0;
}

.node-attributes {
  padding: 0;
  margin: 0;
  font-size: 0.1em;
  list-style: none;
}

.node-attributes .node-attribute-row {
  padding: 0;
  margin: 0;
}

.node-attributes .node-attribute-row {
  width: 200px;
}

.node-attributes .node-attribute-key, .node-attributes .node-attribute-value {
  display: inline-block;
  margin: 0;
}

.node-attributes .node-attribute-key {
  font-weight: 600;
}

.node-attributes .node-attribute-value {
  opacity: 0.8;
  background: #ebebeb;
  padding: 1px 2px 1px 2px;
  border-radius: 2px;
}