body {
  background-color: #efefef;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tree-container {
  margin: 0 auto;
  background: #ddd;
  width: 96%;
  height: 1080px;
  overflow: hidden;
}

.node-container {
  position: relative;
  top: -12px;
}

.node-name {
  position: relative;
  width: auto;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  display: inline-block;
  font-size: 0.2em;
  margin: 1px 0 0 0;
  padding: 1px;
}

.node-attributes {
  padding: 0;
  margin: 0;
  font-size: 8px;
  list-style: none;
  top: -5px;
  position: relative;
}

.node-attributes .node-attribute-row {
  padding: 0;
  margin: 0;
}

.node-attributes .node-attribute-row {
  width: 200px;
}

.node-attributes .node-attribute-key, .node-attributes .node-attribute-value {
  display: inline-block;
  margin: 0;
}

.node-attributes .node-attribute-key {
  font-weight: 600;
}

.node-attributes .node-attribute-value {
  opacity: 0.8;
  background: #ebebeb;
  padding: 1px 2px 1px 2px;
  border-radius: 2px;
}

.eventviewer-container {
  font-size: 0.5em;
  padding: 16px;
  margin: 0 0 0 16px;
}

.eventviewer-container .title {
  margin: 0;
}

.eventviewer-container .events-container {

}

.eventviewer-container .events-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0;
  margin: 4px 0 0 8px;
  list-style: none;
}

.events-list .event-item {
  background: #5d898f;
  flex: 0 0 auto;
  margin: 4px 8px 4px 0;
  width: 120px;
  height: 100px;
  border: 1px solid #727272;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 1.5em;
}

.footer {
  margin: 16px auto 32px auto;
  width: 96%;
  display: flex;
}

.event-form {
  font-size: 1em;
  padding: 16px;
  border-radius: 8px;
}

.button-add {
  width: 128px;
  height: 64px;
  background: #6aa03e;
  color: #ddd;
  font-size: 2em;
  margin: 0 0 0 16px;
  border-radius: 8px;
}

.event-item.add-item {
  background: #6aa03e;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
  color: #edeede;
  width: 100px;
  height: 100px;
  border-radius: 60px;
}